.user-stats-container {
  position: absolute;
  bottom: 15px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #232323;
  color: #c1c8ce;
  border-radius: 15px;
  padding: 7px;
}

.user-stats-container:hover {
  background-color: #333;
  cursor: pointer;
}

.user-stats-flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.user-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 1rem;
}

.user-stats-flex:hover {
  transform: scale(1.05);
  cursor: pointer;
}

.user-name {
  font-size: 1.5rem;
  font-weight: 700;
  margin-top: -0.25em
}

.user-points {
  margin: 0.2rem;
}

.toggle-switch {
  position: absolute;
  left: -130px;
  top: 50%;
  transform: translateY(-50%);
}

.toggle-switch input[type="checkbox"] {
  display: none;
}

.toggle-switch label {
  cursor: pointer;
  background-color: #224d76;
  width: 7em;
  padding: 5px 10px;
  border-radius: 15px;
}