.Tasks {
  text-align: center;
  font-family: 'Arial', sans-serif;
  margin-top: 60px;
  overflow-x: auto;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 30px;
  margin-left: 50px;
  color: #333;
  text-align: left;
}

.navbar-bottom-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.task-container {
  display: flex;
  justify-content: flex-start;
  gap: 16px;
  overflow-x: auto;
  overflow: visible;
  white-space: nowrap;
  flex-wrap: nowrap;
  height: 75vh;
  /* 75% of the viewport height */
  position: relative;
  /* Set position to relative */
}

.task-card {
  background: #f9f9f9;
  width: 150px;
  min-width: 150px;
  height: 100px;
  margin: 10px;
  border: 2px solid #e0e0e0;
  cursor: pointer;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition:
    bottom 0.75s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    left 0.75s cubic-bezier(0.68, -0.55, 0.27, 1.55),
    transform 0.2s ease,
    box-shadow 0.2s ease;
  position: absolute;
  overflow: hidden;

  &:hover {
    transform: scale(1.05);
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  }
}

@keyframes flash-stale {

  0%,
  100% {
    background-color: red;
    color: white;
  }

  50% {
    background-color: white;
    color: black;
  }
}

.task-card.stale {
  background-color: red;
  color: white;
  animation: flash-stale 2s infinite;
}

.task-card.fresh {
  opacity: 0.3;
}

.task-content {
  text-align: center;
  width: 100%;
  min-width: 0;
}

.task-text {
  display: block;
  margin-bottom: 10px;
  /* Force the text to wrap??? */
  overflow-wrap: break-word;
  word-wrap: break-word;
  /* Make sure the text can actually break */
  min-width: 0;
  width: 100%;
}

.task-button {
  display: block;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.popup-inner {
  background: white;
  padding: 24px;
  border-radius: 12px;
  width: 400px;
  text-align: center;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
}

.button {
  background-color: #61dafb;
  color: white;
  padding: 0.5rem;
  margin-top: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  transition: background-color 0.2s ease;

  &:hover {
    background-color: #4fa3e6;
  }
}

.delete-button {
  background-color: #f44336;
}

.create-button {
  background-color: #4CAF50;
}

.complete-button {
  background-color: #4CAF50;
}

.user-button {
  color: black;
  background-color: #f2f2f2;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 5px;
}

.user-button.selected {
  color: white;
  background-color: #4CAF50;
  color: white;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.form-input {
  padding: 0.5rem;
  margin-top: 0.2rem;
}

.task-form {
  display: flex;
  flex-direction: column;
}

@keyframes bounce-bp {

  0%,
  100% {
    transform: translateY(0);
    transform: scale(1);
  }

  50% {
    transform: translateY(-10px);
    transform: scale(1.1);
  }
}

.bounce-bp {
  animation: bounce-bp 0.75s ease-in-out;
}

.input-group-horizontal {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.input-group-horizontal label {
  flex: 1;
}

.input-group-horizontal input {
  flex: 1;
  margin: 0 5px;
  max-width: 60px;
}

.user-stats-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f2f2f2;
  border-radius: 15px;
  padding: 20px;
}

.user-stats-table {
  width: 100%;
  border-collapse: collapse;
}

.user-row {
  /* Add any row-specific styles here */
}

.user-name, .user-points {
  text-align: right;
  padding: 8px;
}

.user-points {
  text-align: left;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 1020;
}

.todoqueue-auth-form {
  max-width: 400px;
  margin: 0 auto;
}